# vim: ft=sh

# OpenAI SDK ---
OPENAI_BASE_URL="https://api.openai.com/v1"
OPENAI_API_KEY="sk-*"
GPT_4O_IMAGE_MODEL="gpt-4o-image"

# --------------
TIMEOUT_MINUTES=5

PROMPT_FILENAME="prompt.txt"
OUTPUT_DIR="output/Playground"
CONCURRENCY_NUM=1

